@import "tailwindcss";

* {
    font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
        "Open Sans", "Helvetica Neue", sans-serif;
}
body {
    background-color: #0f172a;
    color: white;
}
/* Custom scrollbar for table body */
tbody::-webkit-scrollbar {
    width: 8px;
}
tbody::-webkit-scrollbar-thumb {
    background-color: #4b5563;
    border-radius: 4px;
}
